<app-title-page title="Hotéis"></app-title-page>
<div class="cards-container">
  <item-card-component
    imageUrl="https://images.trvl-media.com/hotels/1000000/450000/444400/444370/782e8775.jpg?impolicy=resizecrop&rw=598&ra=fit"
    cardText="Jatiúca Hotel & Resort tem uma praia onde você pode aproveitar comodidades como barracas de praia grátis, guarda-sóis e vôlei, além de estar a 10 minutos de carro de Praia de Ponta Verde. 2 piscinas externas oferece diversão a todos, enquanto os hóspedes que preferirem relaxar poderão aproveitar massagens e tratamentos para o corpo. Restaurante Canoas, um dos 2 restaurantes, serve pratos da culinária internacional e abre para café da manhã, almoço e jantar. Este resort de luxo ainda oferece 2 bares ao lado da piscina, recreação infantil grátis e um bar na praia. As pessoas que se hospedam no local também adoram a equipe prestativa."
  ></item-card-component>
  <item-card-component
    imageUrl="https://images.trvl-media.com/hotels/73000000/72980000/72974800/72974790/9df96cfc.jpg?impolicy=resizecrop&rw=598&ra=fit"
    cardText="Ipioca Beach Resort fica a 2,6 km de Praia de Ipioca.No local, os hóspedes podem curtir a piscina externa e relaxar com serviços de spa.O local ainda conta com um bar ao lado da piscina, uma piscina infantil e um jardim."
  ></item-card-component>
  <item-card-component
    imageUrl="https://images.trvl-media.com/hotels/3000000/2310000/2309000/2308903/6c87cf21.jpg?impolicy=resizecrop&rw=598&ra=fit"
    cardText="Salinas Maceió All Inclusive Resort tem uma praia, onde você pode aproveitar comodidades como barracas de praia grátis, guarda-sóis e vôlei, além de estar a 0,3 km de Praia de Ipioca. A piscina externa é ideal para os hóspedes que querem diversão, e quem quiser relaxar poderá visitar o spa para aproveitar massagens, tratamentos faciais e hidroterapia.Com vistas para o jardim, Taieira serve culinária brasileira e abre para café da manhã, almoço e jantar.Esta propriedade com tudo incluído ainda oferece recreação infantil grátis, um bar na praia e uma academia. Os viajantes cobrem os funcionários prestativos de elogios."
  ></item-card-component>
  <item-card-component
    imageUrl="https://images.trvl-media.com/hotels/3000000/2480000/2479600/2479553/e1af935b.jpg?impolicy=resizecrop&rw=598&ra=fit"
    cardText="Ritz Lagoa Da Anta tem uma praia, onde você pode passar o tempo relaxando em uma espreguiçadeira, além de estar a 15 minutos de carro de Praia de Ponta Verde.2 piscinas externas oferecem diversão para todos, e os hóspedes que desejam relaxar podem visitar o spa para aproveitar massagens musculares profundas, tratamentos faciais e esfoliação corporal.Le Sururu Bistrot, um dos 2 restaurantes, serve pratos da culinária internacional e abre para café da manhã, almoço e jantar. Este hotel de luxo ainda oferece 2 bares/lounges, recreação infantil grátis e um bar ao lado da piscina. A piscina e a equipe prestativa costumam receber boas avaliações dos viajantes."
  ></item-card-component>
</div>
