<app-title-page title="Restaurantes"></app-title-page>
<div class="cards-container">
  <item-card-component
    imageUrl="https://a.cdn-hotels.com/gdcs/production60/d1963/ec296ce2-3ab9-4d8e-8669-8de62765f479.jpg?impolicy=fcrop&w=1600&h=1066&q=medium"
    cardText="Certamente um dos mais concorridos de Maceió, o Bodega do Sertão tem um cardápio variado e criativo, além de decoração e atendimento impecáveis. Num canto do salão, uma estátua do Padre Cícero observa os comensais, abençoando as maravilhas que desfilam entre pratos e talheres."
  ></item-card-component>
  <item-card-component
    imageUrl="https://a.cdn-hotels.com/gdcs/production58/d1151/003ad997-05aa-495a-9623-e5eb24719e8b.jpg?impolicy=fcrop&w=1600&h=1066&q=medium"
    cardText="O restaurante Massarella é italianíssimo e vem fazendo a alegria da clientela desde 1988. Num ambiente familiar, que proporciona um clima europeu, com simplicidade e bom gosto, o Massarella capricha nas receitas italianas com ousadia e muito critério na escolha dos ingredientes."
  ></item-card-component>
  <item-card-component
    imageUrl="https://a.cdn-hotels.com/gdcs/production51/d1950/db4f6a67-56f3-423a-87e5-6945ddd452a6.jpg?impolicy=fcrop&w=1600&h=1066&q=medium"
    cardText="Requinte, bom gosto e cordialidade. Esses ingredientes fazem parte de todos os excelentes pratos do Janga Restaurante, que tem na cozinha brasileira, principalmente a focada em frutos do mar, seu mais forte alicerce culinário. O ambiente é muito agradável e a carta de vinhos elogiada pelos frequentadores."
  ></item-card-component>
  <item-card-component
    imageUrl="https://a.cdn-hotels.com/gdcs/production68/d1379/9de00ca0-c988-4bc1-89b8-27893cb41858.jpg?impolicy=fcrop&w=1600&h=1066&q=medium"
    cardText="Outro italiano de sucesso é o Maria Antonieta, caracterizado por sua enorme árvore de ferro iluminada em meio ao salão. Espere elegância e pratos sofisticados, além de um atendimento caloroso e aconchegante. Antes de mais nada, peça a carta de vinhos, considerada uma das mais completas de Maceió."
  ></item-card-component>
</div>
