<app-title-page title="Praias"></app-title-page>
<div class="cards-container">
  <item-card-component
    imageUrl="https://a.cdn-hotels.com/gdcs/production24/d307/7fcea391-092d-4586-88c3-4c2db5505323.jpg?impolicy=fcrop&w=1600&h=1066&q=medium"
    cardText="Capital do estado de Alagoas, Maceió ficou conhecida internacionalmente por suas belezas naturais, com praias de tirar o fôlego de qualquer um. Não é à toa que ela está entre um dos destinos mais cobiçados do nosso país. Agora, para decidir qual a melhor data da sua viagem, acompanhe a situação das marés, pois as piscinas naturais só podem ser visitadas quando a maré está baixa."
  ></item-card-component>
  <item-card-component
    imageUrl="https://a.cdn-hotels.com/gdcs/production158/d917/cf8475e7-01cf-4235-bbdd-ffc8099e15f7.jpg?impolicy=fcrop&w=1600&h=1066&q=medium"
    cardText="A Praia de Ponta Verde fica na área urbana da cidade de Maceió, mas também chama atenção por sua beleza natural. Se você gosta de esportes náuticos, vai se encantar com o local. É possível praticar stand up paddle, windsurf e caiaque. Para um banho de mar, a área mais indicada é a que fica entre o Pontal e a Praia de Pajuçara."
  ></item-card-component>
  <item-card-component
    imageUrl="https://a.cdn-hotels.com/gdcs/production187/d1564/38dfee7a-7b18-40c6-88eb-3ffb6419f690.jpg?impolicy=fcrop&w=1600&h=1066&q=medium"
    cardText="O centro histórico de Maceió possui várias atrações turísticas, que mostram um pouco da história da região e chamam a atenção pela arquitetura. O passeio todo pode ser feito a pé, passando pelo Memorial à República, o Museu Théo Brandão de Antropologia e Folclore, a Igreja de Nossa Senhora do Rosário dos Pretos, a Igreja de Nosso Senhor Bom Jesus dos Martírios e o Museu e Palácio Floriano Peixoto."
  ></item-card-component>
  <item-card-component
    imageUrl="https://a.cdn-hotels.com/gdcs/production157/d1361/f77452f3-6dc7-4692-b1c7-79e9ade52666.jpg?impolicy=fcrop&w=1600&h=1066&q=medium"
    cardText="Localizado na Praia de Pajuçara, o Pavilhão de Artesanato reúne muitas barracas, com comidas típicas, lembrancinhas de viagem e, claro, artesanato. Uma das vantagens do lugar é que, por estar em um espaço fechado, ele oferece mais comodidade aos turistas, que podem fazer as suas compras com tranquilidade."
  ></item-card-component>
</div>
